.loader {
  position: fixed;
  inset: 0;
  background-color: #0a0a0a;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 600ms ease;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }

  &.hide {
    display: none;
  }

  &__progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: yellow;
    transition: width 300ms ease;
  }
}