html{
    --left-spacing: 2%;
    --padding-vertical-box: 0.5em;
}
#context{
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
#event-header{
    margin-top: 1%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-top: var(--text-color) solid var(--underline-thickness);
    border-bottom: var(--text-color) solid var(--underline-thickness);
}
#event-type-img{
    height: 3em;
    width: 3em;
    /*
    border: var(--text-color) dashed var(--underline-thickness);
    box-shadow: 
        0 0 0.25em 0.25em #fff, 
        0 0 0.25em 1em var(--boja-teksta); */
}
#event-title{
    margin-left: var(--left-spacing);
}
#event-loation-box{
    padding-top: var(--padding-vertical-box);
    padding-bottom: var(--padding-vertical-box);
    margin-left: var(--left-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: fit-content;
    width: 25%;
    border-top: solid var(--text-color) var(--underline-thickness);
    border-bottom: solid var(--text-color) var(--underline-thickness);
}

/*SREDI CEO OVAJ DEO SA HEADEWROM DA IMA STO MANJE TEKSTA*/
#event-loation-box img{
    height: 3em;
    width: 3em;
}
#event-loation-box a{
    margin-left: 7.5%;
}
#event-date-box{
    box-sizing: border-box;
    padding-top: var(--padding-vertical-box);
    padding-bottom: var(--padding-vertical-box);
    padding-left: 2em;
    padding-right: 2em;
    margin-left: var(--left-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-top: solid var(--text-color) var(--underline-thickness);
    border-bottom: solid var(--text-color) var(--underline-thickness);
}
#event-date-box img{
    height: 3em;
    width: 3em;
}
#event-date-box p{
    margin: 0;
    margin-left: 15%;
    font-family: var(--font-tema);
    font-size: 1em;
    font-weight: 300;
    cursor: default;
}
#event-form-link{
    margin-left: var(--left-spacing);
    padding: 0.75em;
    font-size: 1em;
    font-weight: 600;
}
.event-paragraph{
    padding: 2%;
    font-size: 1em;
    color: black;
    width: 85%;
    border-left: solid var(--text-color) var(--underline-thickness);
}
.event-image{
    width: 50%;
}