.events{
    margin: 10% 15% 10% 15%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
}
.event-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    height: 25em;
    width: 21em;
}
.event-cards h2{
    padding: 0.35em;
    font-family: 'PT Mono', monospace;
    text-align: center;
    margin: 0.5em 1.5em 0.5em 1.5em;
    border-bottom: #34A853 solid 2px;
}
.event-cards p{
    margin: 1.5em 1.5em 1.5em 1.5em;
}
.event-link{
    padding: 0.5em 2em 0.5em 2em;
    background-color: white;
}
.event-card-title{
    position: absolute;
    transform: translateY(-2.25em);
}