:root{
    --forms-list-size: 2.25em;
}
.context{
    display: flex;
    flex-direction: row;
}
/* components */
textarea, div, input, p{
    font-family: 'Open Sans', sans-serif;
}
#explorer{
    width: 30%;
}
#maker{
    width: 70%;
    height: 100%;
    align-items:center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#maker::-webkit-scrollbar {
    width: 0.6em;
}
#maker::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
}
#maker::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.form-header{
    margin-top: 1em;
    width: 42em;
    display: flex;
    height: fit-content;
    flex-direction: column;
    border-radius: 1em;
}
.form-header-field{
    align-self: flex-start;
    margin-top: 1em;
    margin-left: 1em;
    width: 38em;
    font-size: 1em;
    padding: 0.25em;
}
#form-save-name:focus{
    outline: none;
}
.expiration-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    width: 100%;
}
.label-wrapper{
    position: relative;
    margin-left: 3%;
    cursor: default;
}
.label-wrapper:hover > .info-box{
    display: block;
    animation: fadein var(--hover-color-change);
}
@keyframes fadein {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
.expiration-label{
    font-size: 1em;
    font-weight: 350;
}
.info-box{
    display: none;
    position: absolute;
    width: 28em;
    text-align: center;
    z-index: 2;
    top: -2.75em;
    padding: 0.5em;
    border-radius: 0.75em;
    color: var(--text-color);
}
.expiration-input{
    margin-left: 5%;
    padding: 1%;
    width: 25%;
    font-weight: 350;
    outline: none;
}
#form-title-field{
    font-size:large;
    width: 33.6em;
}
#form-title-field:focus{
    font-size:large;
    width: 33.6em;
    outline: none;
}
#form-description-field{
    outline: none;
    resize: none;
    width: 38em;
    min-height: 5em;
    margin-bottom: 1em;
}
#form-description-field:focus{
    outline: none;
}
#polja{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#controls-panel{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
}
.controls-panel-button{
    background-color: var(--green-filling);
    width: 3em;
    height: 3em;
    margin-right: 1em;
    font-size: small;
    font-weight: 600;
    color: var(--text-color);
    padding: 0em;
    cursor:pointer;
    transition: background-color var(--hover-color-change);
}
.controls-panel-button:hover{
    background-color: var(--boja-teksta);
}
.controls-panel-save{
    margin-left: 5em;
    width: 7em;
}
/*past forms*/
.title-past-forms{
    font-size: medium;
    border: 0.1em solid var(--boja-tema);
    margin-left: 1em;
    width: fit-content;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.75em;
}
.main-controls-panel{
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.button-main-controls{
    margin-right: auto;
    padding: 1em;
    outline: none;
    font-family: var(--font-tema);
    font-weight: 300;
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
}
#past-forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.form-in-past-forms{
    width: 20vw;
    margin-left: 2em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: var(--hover-forms) solid var(--underline-thickness);
}
.delete-button{
    background-image: url(/static/images/delete.png);
    background-size: 100% 100%;
    background-color: #ffffff;
    border: transparent;
    color: transparent;
    cursor: pointer;   
    width: var(--forms-list-size);
    height: var(--forms-list-size);
    align-self: flex-end;
    border-radius: 0.75em;
    aspect-ratio: 1;
    transition: background-color var(--hover-color-change);
    outline: none;
}
.delete-button:hover{
    background-color: var(--boja-teksta);   
}
.form-name-button{
    outline: none;
    font-size: 0.9em;
    width: 11em;
    height: var(--forms-list-size);
    background-color: transparent;
    outline: none;
    margin-left: 1em;
    border: transparent;
}
.form-name-button:hover{
    border-bottom: var(--boja-tema) solid var(--underline-thickness);
}
.form-responces-button{
    display: block;
    background-image: url(/static/images/exam.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: transparent;
    color: transparent;
    cursor: pointer;   
    margin-left: 1em;
    width: var(--forms-list-size);
    height: var(--forms-list-size);
    border-radius: 0.75em;
    aspect-ratio: 1;
    margin-left: auto;
    transition: background-color var(--hover-color-change);
    outline: none;
}
.form-responces-button:hover{
    background-color: var(--boja-teksta);   
}
/*Form field and it's components*/
.form-field{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 40em;
    border: var(--hover-forms) solid var(--underline-thickness);
    border-radius: 0.7em;
    height: fit-content;
    align-items: center;
    padding: 1em;
}
.form-field-head{
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5em;
}
.form-field-title{
    font-size: medium;
    align-self: flex-start;
    width: 28em;
    margin-bottom: 0.5em;
    border: transparent;
    border-bottom: var(--hover-forms) solid var(--underline-thickness);
}
.form-field-title:focus{
    outline: none;
}
#dropdown-list-edited-field{
    font-size: medium;
    padding: 0.5em;
    margin-left: auto;
    width: 10em;
}
/* Classes for individual fields*/
.sentance-field-type{
    width: 100%;
    margin-bottom: 1em;
}
.paragraph-field-type{
    width: 100%;
    margin-bottom: 1em;
}
.checkbox-field-type{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}
/*#region checkboxes deo*/
.checkbox-field{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}
.checkbox-label{
    padding-bottom: 0.2em;
    align-self: flex-start;
    margin-left: 1em;
    width: 15em;
    border: transparent;
    border-bottom: black solid var(--underline-thickness);
    font-size: medium;
}

.checkbox-label:focus{
    outline: none;
}

.panel-for-checkboxes{
    margin-left: 6em;
}
.check-button{
    width: 2em;
    height: 2em;
    border: var(--hover-forms) solid calc(var(--underline-thickness)/10); /*sredi debljinu ove granice*/
    background-color: transparent;
    border-radius: 0.75em;
    font-size: 1.25em;
}
/*#endregion checkboxes deo*/
.date_fld{
    width: 100%;
    margin-bottom: 1em;
}
.time_fld{
    width: 100%;
    margin-bottom: 1em;
}

/*#region responce data*/

#responces{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    display:none;
    overflow-y: auto;
    border-collapse: collapse;
}
.respoHeader{
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.checkbSelect{
    outline: none;
    border: none;
    border-bottom: var(--underline-thickness) solid var(--hover-forms);
}

.respoHeader .checkbSelect{
    padding: 0.5em;
    color: black;
    font-family: var(--font-tema);
    font-weight: 300;
    font-size: 1em;
}

.tableTitle{
    padding: 0.5em;
    border-bottom: var(--underline-thickness) solid var(--hover-forms);
    color: black;
    font-family: var(--font-tema);
    font-weight: 300;
    font-size: 1em;
}

.btnStyle{
    padding: 0.5em;
    border: var(--underline-thickness) solid var(--hover-forms);
    color: black;
    font-family: var(--font-tema);
    font-weight: 300;
    border-radius: 0.5em;
    background-color: transparent;
    cursor: pointer;
    transition: background-color var(--hover-color-change), color var(--hover-color-change);
}

.btnStyle:hover{
    background-color: var(--fill-tema);
    color: var(--text-color-theme);
}

.fetchBtn{
    margin-right: 1em;
    margin-left: auto;
    font-size: 1em;
}
.copyBtn{
    margin-right: 1em;
    font-size: 1em;
}
.queryMaker{
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.queryMaker p{
    padding: 0.5em;
    border-bottom: var(--underline-thickness) solid var(--hover-forms);
    color: black;
    font-family: var(--font-tema);
    font-weight: 300;
    font-size: 1em;
}

.queryMaker .checkbSelect{
    margin-left: 1em;
    padding: 0.5em;
    color: black;
    font-family: var(--font-tema);
    font-weight: 300;
    font-size: 1em;
}

table{
    border-collapse: collapse;
}
tr{
    background-color: #ffffff;
    transition: background-color calc(var(--hover-color-change)/2);
    border-bottom: var(--underline-thickness) solid var(--hover-forms);
}

tr:hover{
    background-color: var(--boja-teksta);
}

th{
    border-right: var(--underline-thickness) var(--hover-forms) solid;
}

td{
    word-wrap: break-word;
    padding: 1em;
}

/*#endregion responce data*/

.txt_fld{
    margin-left: 10%;
    padding: 0.25em;
    width: 50%;
    font-size: 1em;
}

.parag_fld{
    margin-left: 10%;
    padding: 0.25em;
    height: 8em;
    width: 70%;
    font-size: 0.9em;
    resize: none;
}
.date_box{
    margin-left: 10%;
    padding: 1%;
    width: 40%;
    font-size: 1em;
}
.time_box{
    margin-left: 10%;
    padding: 1%;
    width: 40%;
    font-size: 1em;
}
.checkbHeader{
    border-left: var(--underline-thickness) solid var(--hover-forms);
    border-right: var(--underline-thickness) solid var(--hover-forms);
}

.checkAll{
    width: 80%;
    margin: 0.25em;
}

.three-dots{
    margin-left: auto;
}
.three-dots:after{
    color: black;
    content: '\2807';
    font-size: 3em;
}