#context{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-header{
    padding: 0.5em;
    margin-top: 1em;
    width: 40em;
    display: flex;
    flex-direction: column;
}
.form-title{
    width: 90%;
    margin: 0;
    text-align: center;
    align-self: center;
    padding: 0.5em;
    border-bottom: var(--text-color) solid var(--underline-thickness);
}
.form-description{ 
    width: 90%;
    padding: 0.5em;   
    align-self: center;
    min-height: 5em;
    border-bottom: var(--text-color) solid var(--underline-thickness);
}
.form-field{
    box-sizing: border-box;
    margin-top: 1em;
    width: 40em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.form-field-head{
    margin: 0;
    padding: 0.25em;
    margin-bottom: 1em;
    align-self: center;
    width: 30em;
    font-size: 1.2em;
    border-bottom: var(--text-color) solid calc(var(--underline-thickness));
}

.form-text-input{
    width: 60%;
    margin-left: 20%;
    font-size: medium;
    padding: 0.5em;
}

.form-paragraph-input{
    width: 80%;
    align-self: center;
    font-size: medium;
    padding: 0.5em;
    height: fit-content;
    resize: none;
}

.form-field-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5em;
    margin-bottom: 1em;
}

.form-checkbox-input{
    height: 2vh;
    width: 2vh;
    outline: none;
    transition: box-shadow var(--hover-color-change);
}

.form-checkbox-input:hover{
    box-shadow: 0vh 0vh 1vh 0.5vh var(--hover-forms);
}

.form-checkbox-title{
    margin: 0;
    margin-left: 0.75em;
    font-size: large;
}

.form-date-input{
    width: 60%;
    margin-left: 20%;
    font-size: medium;
    padding: 0.5em;
}

.form-time-input{
    width: 60%;
    margin-left: 20%;
    font-size: medium;
    padding: 0.5em;
}

#form-submit-button{
    margin-top: 2em;
    font-size: 1.2em;
    padding: 0.5em;
}