* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#kontekst{
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: calc(100vh - 17.75vh);
}

form{
    margin-block-end: 0em;
}

#form_header{
    margin-top: 1em;
    border: var(--boja-tema) solid var(--underline-thickness);
    width: 40em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

.form-header-field{
    font-family: var(--font-tema);
    align-self: flex-start;
    margin-top: 1em;
    margin-left: 5%;
    width: 90%;
    border: transparent;
    background-color: #ffffff;
    border-bottom: var(--hover-forms) solid var(--underline-thickness);
    font-size: medium;
}

#naslov_polje{
    font-size: 4vh;
    margin-top: 0.4em;
    padding: 0.75vh;
    border-bottom: var(--hover-forms) solid calc(var(--underline-thickness)/3);
}
#opis_polje{
    outline: none;
    resize: none;
    min-height: 5em;
    margin-bottom: 1em;
}

.polje{
    font-family: var(--font-tema);
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 40em;
    border: var(--hover-forms) solid var(--underline-thickness);
    border-radius: 0.7em;
    height: fit-content;
    padding-bottom: 2vh;
}

.fld_head{
    align-self: flex-start;
    padding: 0%;
    margin-top: 1vh;
    margin-left: 5vw;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: 400;
    word-wrap: break-word;
    font-family: var(--font-tema);
    border-bottom: var(--hover-forms) solid calc(var(--underline-thickness));
}

.txt_in{
    width: 60%;
    margin-left: 20%;
    font-size: medium;
    padding: 0.5vw;
}

.parag_in{
    width: 80%;
    margin-left: 10%;
    font-size: medium;
    font-family: var(--font-tema);
    padding: 0.75vh;
    height: fit-content;
    resize: none;
}

.checkbox-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7.5vw;
    margin-bottom: 2vh;
}

.checkb_in{
    height: 2vh;
    width: 2vh;
    outline: none;
    transition: box-shadow var(--hover-color-change);
}

.checkb_in:hover{
    box-shadow: 0vh 0vh 1vh 0.5vh var(--hover-forms);
}

.checkp_in{
    margin: 0vh;
    margin-left: 1.5vw;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
}

.date_in{
    margin-left: 30%;
    width: 40%;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
    padding: 0.5vw;
}

.time_in{
    margin-left: 30%;
    width: 40%;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
    padding: 0.5vw;
}

#submit_btn{
    font-size: 2.7vh;
    padding-bottom: 0.5vh;
    font-family: var(--font-tema);
    color: var(--boja-teksta);
    font-weight: 700;
    height: 5vh;
    width: 15vw;
    margin-top: 5vh;
    background-color: #12942a;
    border-radius: 0.7em;
    transition: background-color var(--hover-color-change), color var(--hover-color-change);
}

#submit_btn:hover{
    outline: none;
    background-color: var(--boja-teksta);
    color: var(--boja-tema);   
}

