#context{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-header{
    margin-top: 1em;
    padding: 1em;
    width: 40em;
    display: flex;
    flex-direction: column;
}
.form-title{
    text-align: center;
    border-bottom: var(--text-color) solid var(--underline-thickness);
}
.form-description{    
    min-height: 5em;
    margin-bottom: 1em;
    border-bottom: var(--text-color) solid var(--underline-thickness);
}
.form-field{
    margin-top: 1em;
    width: 40em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.form-field-head{
    align-self: flex-start;
    border-bottom: var(--hover-forms) solid calc(var(--underline-thickness));
}

.form-text-input{
    width: 60%;
    margin-left: 20%;
    font-size: medium;
    padding: 0.5vw;
}

.form-paragraph-input{
    width: 80%;
    margin-left: 10%;
    font-size: medium;
    font-family: var(--font-tema);
    padding: 0.75vh;
    height: fit-content;
    resize: none;
}

.form-field-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7.5vw;
    margin-bottom: 2vh;
}

.form-checkbox-input{
    height: 2vh;
    width: 2vh;
    outline: none;
    transition: box-shadow var(--hover-color-change);
}

.form-checkbox-input:hover{
    box-shadow: 0vh 0vh 1vh 0.5vh var(--hover-forms);
}

.form-checkbox-title{
    margin: 0vh;
    margin-left: 1.5vw;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
}

.form-date-input{
    margin-left: 30%;
    width: 40%;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
    padding: 0.5vw;
}

.form-time-input{
    margin-left: 30%;
    width: 40%;
    font-size: large;
    font-weight: 400;
    font-family: var(--font-tema);
    padding: 0.5vw;
}

#form-submit-button{
    font-size: 2em;
    padding: 0.75em;
}