@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root{
    --text-color:  #34A853;
    --green-filling-nav: #C8E6C9;
    --green-filling: #E8F5E9;
    --yellow-border-bottom: #aa8f24;

/* neke stare promenljive, optimizuj */
    --boja-tema: #12942a; 
    --underline-thickness: 0.1em;
    --boja-teksta: #ffe16c;
    --hover-color-change: 0.25s;
}
body{
    margin: 0;
    padding: 0;
}

/* basic elements and building block classes*/
h1, h2, h3, h4, p, a{
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: lighter;
}
h1{
    font-weight: bold;
}
ul{
    list-style-type: none;
}
.green-border{
    border:  var(--text-color) solid 0.1em;
    border-radius: 1em;
}
.green-fill{
    background-color: var(--green-filling);
}
.yellow-border{
    border: none;
    border-bottom: #aa8f24 solid 0.1em;
}

/* navbar and it's parts */
@media (max-width: 1000px) {
    .navbar {
            width: 100%;
    }
}
.navbar{
    position: relative;

    margin-left: 50%;
    padding: 10px;
    width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-sizing: border-box;
    transform: translateX(-50%);
}
.green-border-navbar{
    border:  var(--text-color) solid 0.2em;
    border-top: none;
    border-radius: 2.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.green-fill-navbar{
    background-color: var(--green-filling-nav);
}
.navbar-left{
    margin-left: 50px;
    padding: 10px;
    height: 50px;
    width: 50px;
} 
.navbar-middle{
    list-style-type: none;
}
.navbar-middle li{
    display: inline;
    padding: 20px;
    font-size: 30px;
}
.navbar-middle li a{
    transition: all 0.3s;
}
.navbar-middle li a:hover{
    color: white;
}
.navbar-right{
    margin-right: 50px;
    padding: 10px;
}
.navbar-signin{
    padding: 10px;    
    font-size: 30px;
    transition: all 0.3s;
}
.navbar-signin:hover{
    color: white;
}
.underlined{
    border-bottom: #34A853 solid 2px;
}

/* dropdown list */
.dropdown-head{
    
}
.dropdown-head:hover .dropdown-content{
    display: flex;
}
.dropdown-head:hover .dropdown-btn{
    color: white
}
.dropdown-btn{
    font-size: 30px;
    border: transparent;
    background-color: transparent;
    transition: all 0.3s;
}
.dropdown-content{
    position: absolute;
    width: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100px);
}
.dropdown-elem{
    padding: 10px;
    font-size: 20px;
    transition: all 0.3s;
}
.dropdown-elem:hover{
    color: white;
}

/* FOOTER */
.footer{
    left: 0;
    padding-block: 2rem;
    height: 10em;
    width: 100%;
    border-top: var(--text-color) solid 3px;    
}
.footer .row {
    padding-inline: 6rem;
    display: flex;
    align-items: center; 
} 
.footer .row.space-between {
    justify-content: space-between;
}
.footer .row.center {
    justify-content: center;
}
.about-grid {
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 1rem;
    align-items: center;
}
.about-grid .graphic-logo {
    width: 2.5rem;
    height: 2.5rem;
}
.about-grid .graphic-logo img {
    width: 100%;
    height: 100%;
}
.about-grid .text-logo {
    font-size: 1.2rem;
    font-weight: bold;
}
.about-grid .description{
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.about-grid .description,
.about-grid .text-logo {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    grid-column: 2 / span 5;
}
.nav-grid {
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
    padding-block: .6rem;
}
.nav-grid .nav-link {
    display: flex;
    justify-content: flex-end;
}
.nav-grid a:link, 
.nav-grid a:visited {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding: .2rem;
}
.nav-grid a:hover,
.nav-grid a:focus,
.nav-grid a:active {
    text-decoration: underline;
}
.authors {
    font-size: 1.1rem;
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color)
}