#kontekst{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
#mapa{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 95vw;
    height: 80vh;
	border-radius: 3vh;
	border: var(--boja-tema) solid 0.25vh;
	box-shadow: 0 0 5vh var(--boja-teksta);
}
.infoWindow{
    display: flex;
    flex-direction: column;
    width: 15em;
}
.elemBox{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eventName{
    margin: 0em;
    font-size: 2.25em;
    font-family: var(--font-tema);
    font-weight: 300;
    border-bottom: solid 0.1em var(--boja-tema);
}
.eventType{
    margin: 0;
    margin-left: 1em;
    font-size: 1.5em;
    font-family: var(--font-tema);
    font-weight: 300;
}

.eventDate{
    margin: 0;
    margin-left: 1em;
    font-size: 1.5em;
    font-family: var(--font-tema);
    font-weight: 300;
}

.pageLink{
    margin: 0;
    margin-left: 1em;
    outline: none;
    font-size: 1.5em;
    font-family: var(--font-tema);
    font-weight: 300;
}

.eventImgs{
    height: 2.5em;
    width: 2.5em;
}